<template>
  <div>
    <b-table striped hover :items="walksReport"></b-table>
  </div>
</template>

<script>
export default {
  name: "PaseosReporteComponent",
  computed: {
    walksReport() {
      return this.$store.state.walksReport;
    },
  },
  mounted() {
    this.$store.dispatch("fetchWalksReport");
  },
};
</script>
