<template>
  <div class="AgregarPerro">
    <b-container>
      <b-row class="justify-content-md-center">
        <b-col cols="6">
          <b-form @submit="onSubmit" @reset="onReset">
            <b-form-group
              id="nameField"
              label="Nombre"
              label-for="name"
              description="Nombre del perro"
            >
              <b-form-input
                id="name"
                v-model="form.first_name"
                type="text"
                placeholder="Nombre"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="lastNameField"
              label="Apellido"
              label-for="lastName"
              description="Apellido del perro"
            >
              <b-form-input
                id="lastName"
                v-model="form.last_name"
                type="text"
                placeholder="Apellido"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="breedField"
              label="Raza"
              label-for="breed"
              description="Raza del perro"
            >
              <b-form-input
                id="breed"
                v-model="form.breed"
                type="text"
                placeholder="Raza"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-3" label="Sexo:" label-for="input-3">
              <b-form-select
                id="input-3"
                v-model="form.sex"
                :options="sex"
                required
              ></b-form-select>
            </b-form-group>

            <b-form-group id="input-group-4">
              <b-form-checkbox
                id="aggressiveField"
                v-model="form.aggressive"
                :checked="form.aggressive"
                name="aggressive"
                value="true"
                unchecked-value="false"
              >
                Agresivo
              </b-form-checkbox>
              <b-form-checkbox
                id="vaccinatedField"
                v-model="form.vaccinated"
                :checked="form.vaccinated"
                name="vaccinated"
                value="true"
                unchecked-value="false"
              >
                Vacunado
              </b-form-checkbox>
            </b-form-group>

            <b-form-group
              id="birthDateField"
              label="Fecha de nacimiento"
              label-for="birthDate"
              description="Fecha de nacimiento"
            >
              <b-form-datepicker
                v-model="form.birthday"
                id="birthDate"
                placeholder="Fecha de nacimiento"
                date-format-options="{
                  weekday: 'long',
                  year: 'numeric',
                  month: 'numeric',
                  day: 'numeric'
                }"
              ></b-form-datepicker>
            </b-form-group>

            <b-form-group
              id="addressField"
              label="Direccion"
              label-for="address"
              description="Direccion"
            >
              <b-form-input
                id="address"
                v-model="form.address"
                type="text"
                placeholder="Direccion"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="ownerField"
              label="Dueño"
              label-for="owner"
              description="Dueño del perro"
            >
              <b-form-input
                id="owner"
                v-model="form.owner"
                type="text"
                placeholder="Dueño"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="ownerPhoneField"
              label="Telefono del dueño"
              label-for="ownerPhone"
              description="Telefono del dueño"
            >
              <b-form-input
                id="ownerPhone"
                v-model="form.owner_phone"
                type="text"
                placeholder="Telefono del Dueño"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="ownerEmailField"
              label="Email del dueño"
              label-for="ownerEmail"
              description="Email del dueño"
            >
              <b-form-input
                id="ownerEmail"
                v-model="form.owner_mail"
                type="email"
                placeholder="Email del Dueño"
                required
              ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
          </b-form>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "AgregarPerro",
  data() {
    return {
      formInit: {
        first_name: "",
        last_name: "",
        breed: "",
        sex: "",
        birthday: "",
        address: "",
        owner: "",
        owner_phone: "",
        owner_mail: "",
        aggressive: false,
        vaccinated: false,
      },
      form: {
        first_name: "",
        lastName: "",
        breed: "",
        sex: "",
        birthday: "",
        address: "",
        owner: "",
        owner_phone: "",
        owner_mail: "",
        aggressive: false,
        vaccinated: false,
      },
      sex: [{ text: "Elegir opcion", value: null }, "M", "F"],
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      this.$store.dispatch("addDog", this.form);
    },
    onReset(event) {
      event.preventDefault();
      // Reset our form values
      this.form = this.formInit;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.AgregarPerro {
  padding: 20px;
}
</style>
