<template>
  <div>
    <b-table striped hover :items="dogs"></b-table>
  </div>
</template>

<script>
export default {
  name: "PerrosComponent",
  computed: {
    dogs() {
      return this.$store.state.dogs;
    },
  },
  mounted() {
    this.$store.dispatch("fetchDogs");
  },
};
</script>
