<template>
  <div class="about">
    <b-container>
      <h1 style="color: #5e9ca0">Proyecto de Full Stack Development</h1>
      <h2 style="color: #2e6c80">Paseaditos:</h2>
      <p>
        El proyecto consiste en un sistema de control de asistencia y pago para
        el uso de los paseadores de perros. En el mismo podran crear le perfil
        de una mascota, registrar los paseos que realiza durante el mes y con
        que paseador y luego los pagos realizados por el due&ntilde;o de la
        misma.
      </p>
      <p>&nbsp;</p>
      <h2 style="color: #2e6c80">Integrantes:</h2>
      <p><strong>Alan Demian Wurman</strong></p>
      <p><strong>Jose Luis Badano</strong></p>
      <div class="UnvNgf Sdwpn P9KVBf">
        <div class="lefKC">
          <div><strong>Nicol&aacute;s Daniel Oppedisano</strong></div>
          <div class="NyMmmf">&nbsp;</div>
          <div class="gSlHI">
            <div class="Cpvy4b V7iHrd">
              <div class="Qp8KI">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </b-container>
  </div>
</template>
