<template>
  <b-container style="margin-top: 15px" class="text-right" fluid="xl">
    <h1 class="text-center">Listado de perros</h1>
    <b-button
      variant="success"
      v-on:click="isAddHidden = false"
      v-if="isAddHidden"
    >
      + Agregar
    </b-button>
    <b-button
      variant="danger"
      v-on:click="isAddHidden = true"
      v-if="!isAddHidden"
    >
      X
    </b-button>
    <div class="home text-center" style="margin-top: 15px">
      <AgregarPerro v-if="!isAddHidden" />
      <PerrosComponent />
    </div>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import PerrosComponent from "@/components/Dogs/PerrosList.vue";
import AgregarPerro from "@/components/Dogs/AgregarPerro.vue"; // @ is an alias to /src

@Component({
  components: {
    AgregarPerro,
    PerrosComponent,
  },
})
export default class HomeView extends Vue {
  data() {
    return {
      isAddHidden: true,
    };
  }
}
</script>
