<template>
  <b-container style="margin-top: 15px" class="text-right" fluid="xl">
    <h1 class="text-center">Reporte de paseos</h1>
    <div class="home text-center" style="margin-top: 15px">
      <PaseosReporteList />
    </div>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import PaseosReporteList from "@/components/WalksReport/PaseosReporteList.vue";

@Component({
  components: {
    PaseosReporteList,
  },
})
export default class WalksReportView extends Vue {}
</script>
