<template>
  <b-container style="margin-top: 15px" class="text-right" fluid="xl">
    <h1 class="text-center">Listado de paseos</h1>
    <b-button
      variant="success"
      v-on:click="isAddHidden = false"
      v-if="isAddHidden"
    >
      + Agregar
    </b-button>
    <b-button
      variant="danger"
      v-on:click="isAddHidden = true"
      v-if="!isAddHidden"
    >
      X
    </b-button>
    <div class="home text-center" style="margin-top: 15px">
      <AgregarPaseo v-if="!isAddHidden" />
      <PaseosList />
    </div>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import PaseosList from "@/components/Walks/PaseosList.vue";
import AgregarPaseo from "@/components/Walks/AgregarPaseo.vue"; // @ is an alias to /src

@Component({
  components: {
    AgregarPaseo,
    PaseosList,
  },
})
export default class WalksView extends Vue {
  data() {
    return {
      isAddHidden: true,
    };
  }
}
</script>
