<template>
  <div id="app">
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="#">Paseaditos</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/">Perros</b-nav-item>
          <b-nav-item to="/walks">Paseos</b-nav-item>
          <b-nav-item to="/walksReport">Reporte de paseos</b-nav-item>
          <b-nav-item to="/about">About</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <!--        <b-navbar-nav class="ml-auto">-->
        <!--          <b-nav-form>-->
        <!--            <b-form-input-->
        <!--              size="sm"-->
        <!--              class="mr-sm-2"-->
        <!--              placeholder="Search"-->
        <!--            ></b-form-input>-->
        <!--            <b-button size="sm" class="my-2 my-sm-0" type="submit"-->
        <!--              >Search-->
        <!--            </b-button>-->
        <!--          </b-nav-form>-->

        <!--          <b-nav-item-dropdown text="Lang" right>-->
        <!--            <b-dropdown-item href="#">EN</b-dropdown-item>-->
        <!--            <b-dropdown-item href="#">ES</b-dropdown-item>-->
        <!--            <b-dropdown-item href="#">RU</b-dropdown-item>-->
        <!--            <b-dropdown-item href="#">FA</b-dropdown-item>-->
        <!--          </b-nav-item-dropdown>-->

        <!--          <b-nav-item-dropdown right>-->
        <!--            &lt;!&ndash; Using 'button-content' slot &ndash;&gt;-->
        <!--            <template #button-content>-->
        <!--              <em>User</em>-->
        <!--            </template>-->
        <!--            <b-dropdown-item href="#">Profile</b-dropdown-item>-->
        <!--            <b-dropdown-item href="#">Sign Out</b-dropdown-item>-->
        <!--          </b-nav-item-dropdown>-->
        <!--        </b-navbar-nav>-->
      </b-collapse>
    </b-navbar>
    <router-view />
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
