<template>
  <div class="AgregarPaseo">
    <b-container>
      <b-row class="justify-content-md-center">
        <b-col cols="6">
          <b-form @submit="onSubmit" @reset="onReset">
            <b-form-group
              id="dogWalkerField"
              label="ID del paseador"
              label-for="dogWalker"
            >
              <b-form-input
                id="dogWalker"
                v-model="form.dog_walker"
                type="number"
                placeholder="ID del paseador"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group id="dogField" label="ID del perro" label-for="dogId">
              <b-form-input
                id="dogId"
                v-model="form.dog_id"
                type="number"
                placeholder="ID del perro"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="pickupDateField"
              label="Fecha de recogida"
              label-for="pickupDate"
            >
              <b-form-datepicker
                v-model="form.pickup_date"
                id="pickupDate"
                placeholder="Fecha de recogida"
                date-format-options="{
                  weekday: 'long',
                  year: 'numeric',
                  month: 'numeric',
                  day: 'numeric'
                }"
              ></b-form-datepicker>
            </b-form-group>

            <b-form-group
              id="returnDateField"
              label="Fecha de retorno"
              label-for="returnDate"
            >
              <b-form-datepicker
                v-model="form.return_date"
                id="returnDate"
                placeholder="Fecha de retorno"
                date-format-options="{
                  weekday: 'long',
                  year: 'numeric',
                  month: 'numeric',
                  day: 'numeric'
                }"
              ></b-form-datepicker>
            </b-form-group>

            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
          </b-form>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "AgregarPaseo",
  data() {
    return {
      formInit: {
        dog_walker: "",
        dog_id: "",
        pickup_date: "",
        return_date: "",
      },
      form: {
        dogWalker: "",
        dogId: "",
        pickupDate: "",
        returnDate: "",
      },
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      this.$store.dispatch("addWalk", this.form);
    },
    onReset(event) {
      event.preventDefault();
      // Reset our form values
      this.form = this.formInit;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.AgregarPaseo {
  padding: 20px;
}
</style>
