<template>
  <div>
    <b-table striped hover :items="walks"></b-table>
  </div>
</template>

<script>
export default {
  name: "PaseosComponent",
  computed: {
    walks() {
      return this.$store.state.walks;
    },
  },
  mounted() {
    this.$store.dispatch("fetchWalks");
  },
};
</script>
